<!-- Develop a web application using Express and EJS to accept marks of four tests (T1, T2, T3, T4), each out of 25, through a form using the POST method. After submission, display all entered marks in a tabular format along with the total marks, and determine the result: if the total is 35 or more, display “Pass” in green color; otherwise, display “Fail” in red color. -->
 <form action="/data" method="post">
    <input type="number" name="marks1" id=""><br>
    <input type="number" name="marks2" id=""><br>
    <input type="number" name="marks3" id=""><br>
    <input type="number" name="marks4" id=""><br>
    <input type="submit" value="Submit">
    
 </form>